#logo{
    float: left;
    height: 30px;
    margin: 2px 5px;
    filter: drop-shadow(3px 3px 1px #1B5E20);
}

.navbar{
    border-bottom: #558B2F 2px solid;
}
.modal-body{
    color: black;
}

.modal-header{
    color: Black;
    background-color: #66BB6A;
    border-radius: 10%;
}

#option{
    float: right;
    margin-top: 0px;
}


p{
    width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.snnotif{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2px 5px;
    color: black;
    margin-top: 2px;
}

.notif-p{
    float: right;
}

.rowheight{
    height: 91vh;
}

.scrollable{
    overflow-y: auto;
    height: 100%;
}
